body {
  margin:0;
  padding:0;
}

div {
  padding-left: 15px;
  padding-right: 15px;
}


* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;
margin: 15px;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}


body, html {
  height: 100%;
  margin: 0;
  font-family: 'Fjalla One', sans-serif;

}

nav {
  height:70px;
  /*background-color: #525C65;*/
  /*border-bottom: 2px solid #EE6363;*/
}

ul {
  float: right;
  list-style-type: none;
}


li {
  padding-right: 20px;
  display: inline;
  line-height: 65px;
  font-size: 20px;
  font-family: 'Fjalla One', sans-serif;
}

.nameLogo {
  font-size: 10px;
  float: left;
}

a, u {
    text-decoration: none;
}

a {
  color: white;
}

a.contact {
    text-decoration: underline;
    color: blue;
}

a:hover {
    color: #EE6363;
    font-size: 30px;
}

h1 {
  font-size: 48px;
  width: 50%;
  color: white;
}

.kiwayneImageJapan {
  position: relative;
  min-height: 100%;
  background-image: url('../images/japankiwayne.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -150px;
  opacity: 0.80;
  overflow-y: visible;
}

.heroLeft {
  width: 50%;
  float: left;
  padding-right:
}



.freemanImageStudio2 {
  position: relative;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.80;
}

.kiwayneProjects {
  position: relative;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.75;
}

.projectImage1 {
  background-image: url('../images/festiivo.png');
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.projectImage2 {
  background-image: url('../images/elfy.png');
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.projectImage3 {
  background-image: url('../images/adventureTime.png');
  background-position: center;
  background-size: cover;
  min-height: 300px;}

.projectImage4 {
  background-image: url('../images/londonsBurning2.png');
  background-position: center;
  background-size: cover;
  min-height: 300px;
}

.freemanImageStudio4 {
  position: relative;
  min-height: 100%;
  background-image: url('../images/Type2marc.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

.freemanImageStudio5 {
  position: relative;
  min-height: 100%;
  background-image: url('../images/Type2console2.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

.kiwayneBio, .kiwayneBio2, .kiwayneBio3  {
  height: auto;
  /*background-color: #525C65;*/
  color: black;
  text-align: center;
  padding: 15px 80px;
  font-family: 'Fjalla One', sans-serif;
  /*border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;*/
  font-size: 20px;
}

.kiwayneBio4 {
  height: auto;
  background-color: #525C65;
  color: white;
  text-align: center;
  padding: 15px 80px;
  font-family: 'Boogaloo', cursive;
  border-top: 2px solid #EE6363;
  border-bottom: 2px solid #EE6363;
  font-size: 20px;
}

.containerOne {
  position: absolute;
  background-color: black;
  color: white;
  padding: 18px;
  left:500px;
  top: 30%;
  width: 300px;
  height: 100px;
  font-family: 'Fjalla One', sans-serif;
}

.logo {
position: absolute;
top: 1%;
height: 60px;
}
